// ===== VARIABLES =====
$min-width: 360px;
$max-width: 1920px;

// Media Breakpoints
$grid-breakpoints: (
        xs: 0,
        min: 321px, // Min width
        xss: 370px, // iPhone SE
        xsm: 390px, // iPhone 14
        xsl: 420px, // iPhone Plus/Max
        sm: 572px,
        md: 768px,
        lg: 992px,
        xl: 1280px,
        xxl: 1440px
) !default;

// Paths
$img: '../img';
$fonts: '../fonts';

@font-face {
  font-family: 'SF Pro Display';
  src: url('#{$fonts}/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('#{$fonts}/SFProDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('#{$fonts}/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('#{$fonts}/SFProDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


// Fonts
//$font-default: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$font-default: 'SF Pro Display', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

// Colors
$color-blue: #0f8fff;
$color-lightblue: #3390ff;
$color-dark: #0a0f25;
$color-navy: #03062e;
$color-indigo: #12122c;
$color-royal: #163366;
$color-steel: #7e848d;
$color-cool: #c5c9cc;
$color-arctic: #f2f3f5;

// Transition Settings
$bezier: cubic-bezier(.250, .460, .450, .940);
$easing: ease;
$effect: .3s $easing;
$effect-s: .15s $easing;
$effect-l: .6s $easing;

// Mixins
@mixin pseudo {
  content: '';
  display: block;
  overflow: hidden;
}

@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}

@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin user-drag {
  -webkit-user-drag: none;
  user-drag: none;
}
