@use 'var' as *;
@use 'breakpoints' as *;

/* ===== DEFAULT ===== */
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(black, 0);
}

html {
  width: 100%;
  height: 100%;
  background: $color-navy;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-width: $min-width;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font: 16px/1.5 $font-default;
  color: $color-cool;
  position: relative;
  z-index: 1;
  background: $color-navy linear-gradient(108deg, $color-navy 4.37%, $color-indigo 85.48%);
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  @include font-smooth;
}

a {
  color: $color-cool;
  text-decoration: underline;
  text-decoration-thickness: .0625em;
  text-decoration-color: inherit;
  text-underline-offset: .167em;
  background-color: #fff0;
  transition: text-decoration-color $effect-s, color $effect;
  @media (hover: hover) {
    &:hover, &:focus {
      text-decoration-color: rgba($color-cool, 0);
    }
  }
}

img {border-style: none}

p {
  margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 1em;
  font-family: $font-default;
  font-weight: normal;
}

.no-mobile {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.no-desktop {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

/* ===== PAGE ===== */
.page {
  width: 100%;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  &::before {
    @include pseudo;
    width: 177px;
    height: 177px;
    position: absolute;
    top: -64px;
    left: -43px;
    background: rgba($color-blue, 0.2);
    z-index: -2;
    filter: blur(100px);
    opacity: 0;
    transition: opacity 2.4s $bezier;

    .loaded & {
      opacity: 1;
    }
  }

  &::after {
    @include pseudo;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba($color-royal, .8);
    filter: blur(80px);
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: floatMove 20s ease-in-out infinite;
    opacity: 0;
    transition: opacity 2.4s $bezier;
    @include media-breakpoint-up(md) {
      width: 300px;
      height: 300px;
      border-radius: 150px;
      background: rgba($color-royal, .7);
      filter: blur(120px);
    }
    @include media-breakpoint-up(xl) {
      width: 400px;
      height: 400px;
      border-radius: 200px;
      background: rgba($color-royal, .6);
      filter: blur(158px);
    }

    .loaded & {
      opacity: 1;
    }
  }
}

/* ===== CONTAINER ===== */
.container {
  max-width: 380px;
  padding: 0 16px;
  margin: 0 auto;
  @include media-breakpoint-up(sm) {
    max-width: 540px;
  }
  @include media-breakpoint-up(md) {
    max-width: 1200px;
    padding: 0 20px;
  }
}

/* ===== HEADING ===== */
.heading {
  margin-bottom: 1.625em;
  position: relative;
  left: .2em;
  font-size: 25px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  letter-spacing: .36em;
  color: $color-cool;
  opacity: 0;
  transition: opacity 2.8s $bezier, letter-spacing 2.8s $bezier;
  @include media-breakpoint-down(xss) {
    font-size: 22px;
  }
  @include media-breakpoint-up(md) {
    font-size: 22px;
    line-height: normal;
  }
  @include media-breakpoint-up(lg) {
    font-size: 28px;
  }
  @include media-breakpoint-up(xl) {
    left: 0;
    font-size: 32px;
  }

  .loaded & {
    opacity: 1;
    letter-spacing: .388em;
  }

  br {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  span {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

/* ===== SUBHEADING ===== */
.subheading {
  margin-bottom: 0;
  color: $color-cool;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .32em;
  position: relative;
  left: .2em;
  opacity: 0;
  transition: opacity 2.4s $bezier, letter-spacing 2.4s $bezier;
  transition-delay: 1.2s;
  @include media-breakpoint-down(xss) {
    font-size: 12px;
  }
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 19px;
  }
  @include media-breakpoint-up(xl) {
    top: -2px;
    left: 3px;
    font-size: 22px;
    letter-spacing: .395em;
  }

  .loaded & {
    opacity: 1;
    letter-spacing: .35em;
    @include media-breakpoint-up(xl) {
      letter-spacing: .412em;
    }
  }

  br {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  span {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

/* ===== FOOTER ===== */
.footer {
  padding: 14px 0;
  margin-top: auto;
  overflow: hidden;
  background: radial-gradient(12.59% 38.25% at 48.12% 25.68%, rgba(24, 144, 255, 0.04) 33.65%, rgba(24, 144, 255, 0.04) 79.81%), linear-gradient(90deg, rgba(12, 18, 40, 0.40) 8.64%, rgba(24, 32, 59, 0.40) 89.07%);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1.2s $bezier, transform 1.2s $bezier;
  transition-delay: 2s;
  box-shadow: 0 0 30px 0 rgba(black, .29), 0 0 20px 0 rgba(white, .09) inset;
  @include media-breakpoint-up(md) {
    padding: 24px 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 30px 0;
  }

  .loaded & {
    transform: translateY(0);
    opacity: 1;
  }

  .copyright {
    margin: 0;
    color: $color-steel;
    text-align: center;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: .3em;
    @include media-breakpoint-up(lg) {
      font-size: 11px;
      letter-spacing: .4em;
    }
    @include media-breakpoint-up(xl) {
      font-size: 12px;
    }

    span {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    br {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}

@keyframes floatMove {
  0% { transform: translate(-50%, -50%) translate(0px, 0px); }
  25% { transform: translate(-50%, -50%) translate(60px, -44px); }
  50% { transform: translate(-50%, -50%) translate(0px, 0px); }
  75% { transform: translate(-50%, -50%) translate(-60px, 44px); }
  100% { transform: translate(-50%, -50%) translate(0px, 0px); }
}