@use 'var' as *;
@use 'breakpoints' as *;

/* ===== DEFAULT ===== */
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(black, 0);
}

html {
  width: 100%;
  height: 100%;
  background: $color-navy;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-width: $min-width;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font: 16px/1.5 $font-default;
  color: $color-cool;
  position: relative;
  z-index: 1;
  background: $color-navy linear-gradient(108deg, $color-navy 4.37%, $color-indigo 85.48%);
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  @include font-smooth;
}

a {
  color: $color-cool;
  text-decoration: underline;
  text-decoration-thickness: .0625em;
  text-decoration-color: inherit;
  text-underline-offset: .167em;
  background-color: #fff0;
  transition: text-decoration-color $effect-s, color $effect;
  @media (hover: hover) {
    &:hover, &:focus {
      text-decoration-color: rgba($color-cool, 0);
    }
  }
}

img {
  border-style: none
}

p {
  margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 1em;
  font-family: $font-default;
  font-weight: normal;
}

h1, .h1 {
  margin-bottom: .5278em;
  font-size: 32px;
  line-height: normal;
  font-weight: 500;
  letter-spacing: .36em;
  color: $color-arctic;
  @include media-breakpoint-up(xss) {
    font-size: 34px;
  }
  @include media-breakpoint-up(md) {
    font-size: 42px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 54px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 72px;
  }

  &.animation {
    opacity: 0;
    letter-spacing: .34em;
    transition: opacity 2.8s $bezier, letter-spacing 2.8s $bezier;

    .loaded & {
      opacity: 1;
      letter-spacing: .36em;
    }
  }
}

h2, .h2 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: .385em;
  color: $color-cool;
  position: relative;
  @include media-breakpoint-up(xss) {
    font-size: 16px;
  }
  @include media-breakpoint-up(md) {
    font-size: 18px;
    left: -.27em;
  }
  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 28px;
  }

  &.animation {
    opacity: 0;
    letter-spacing: .36em;
    transition: opacity 2.4s $bezier, letter-spacing 2.4s $bezier;

    h1 + & {
      transition-delay: 1.2s;
    }

    .loaded & {
      opacity: 1;
      letter-spacing: .385em;
    }
  }
}

h3, .h3 {
  margin-top: 2em;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: .42em;
  color: $color-cool;
  position: relative;
  @include media-breakpoint-up(xss) {
    font-size: 12px;
  }
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    left: -.6em;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 30px;
    font-size: 16px;
  }

  &.animation {
    opacity: 0;
    letter-spacing: .4em;
    transition: opacity 2.4s $bezier, letter-spacing 2.4s $bezier;

    h2 + & {
      transition-delay: 2.4s;
    }

    .loaded & {
      opacity: 1;
      letter-spacing: .42em;
    }
  }
}


.no-mobile {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.no-desktop {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.btn {
  padding: .32143em 1.142858em .32143em 1.7858em;
  border: 1px solid rgba(white, .1);
  border-radius: 8px;
  display: inline-block;
  font: 600 14px/1.6 $font-default;
  letter-spacing: .4em;
  color: white;
  text-decoration: none;
  background: rgba($color-lightblue, .9);
  box-shadow: 6px 6px 40px rgba($color-dark, .25);
  transition: background-color $effect;
  outline: none;
  @include media-breakpoint-up(xss) {
    font-size: 16px;
  }
  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 1.7858em;
    letter-spacing: .585em;
  }
  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 28px;
  }

  span {
    display: inline-block;
    white-space: nowrap;
  }

  &:hover, &:focus {
    background: $color-lightblue;
  }
}

/* ===== PAGE ===== */
.page {
  width: 100%;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  > .container {
    min-height: 100%;
    flex: 1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &::before {
    @include pseudo;
    width: 177px;
    height: 177px;
    position: absolute;
    top: -64px;
    left: -43px;
    background: rgba($color-blue, 0.2);
    z-index: -2;
    filter: blur(100px);
    opacity: 0;
    transition: opacity 2.4s $bezier;
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }

    .loaded & {
      opacity: 1;
    }

    .full & {
      position: fixed;
    }
  }

  &::after {
    @include pseudo;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgba($color-royal, .8);
    filter: blur(80px);
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: floatMove 20s ease-in-out infinite;
    opacity: 0;
    transition: opacity 2.4s $bezier;
    @include media-breakpoint-up(md) {
      width: 300px;
      height: 300px;
      border-radius: 150px;
      background: rgba($color-royal, .7);
      filter: blur(120px);
    }
    @include media-breakpoint-up(xl) {
      width: 400px;
      height: 400px;
      border-radius: 200px;
      background: rgba($color-royal, .6);
      filter: blur(158px);
    }

    .loaded & {
      opacity: 1;
    }

    .full & {
      position: fixed;
    }
  }
}

/* ===== CONTAINER ===== */
.container {
  max-width: 380px;
  padding: 0 16px;
  margin: 0 auto;
  text-align: center;
  @include media-breakpoint-up(sm) {
    max-width: 540px;
  }
  @include media-breakpoint-up(md) {
    max-width: 740px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 920px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1200px;
    padding: 0 20px;
  }
}

/* ===== HEADING ===== */
.heading {
  margin-bottom: 1.625em;
  position: relative;
  left: .2em;
  font-size: 25px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: .36em;
  color: $color-cool;
  @include media-breakpoint-down(xss) {
    font-size: 22px;
  }
  @include media-breakpoint-up(md) {
    font-size: 22px;
    line-height: normal;
  }
  @include media-breakpoint-up(lg) {
    font-size: 28px;
  }
  @include media-breakpoint-up(xl) {
    left: 0;
    font-size: 32px;
  }

  &.animation {
    opacity: 0;
    transition: opacity 2.8s $bezier, letter-spacing 2.8s $bezier;

    .loaded & {
      opacity: 1;
      letter-spacing: .388em;
    }
  }

  br {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  span {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

/* ===== SUBHEADING ===== */
.subheading {
  margin-bottom: 0;
  color: $color-cool;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: .32em;
  position: relative;
  left: .2em;
  @include media-breakpoint-down(xss) {
    font-size: 12px;
  }
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 19px;
  }
  @include media-breakpoint-up(xl) {
    top: -2px;
    left: 3px;
    font-size: 22px;
    letter-spacing: .395em;
  }

  &.animation {
    opacity: 0;
    transition: opacity 2.4s $bezier, letter-spacing 2.4s $bezier;
    transition-delay: 1.2s;

    .loaded & {
      opacity: 1;
      letter-spacing: .35em;
      @include media-breakpoint-up(xl) {
        letter-spacing: .412em;
      }
    }
  }

  br {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  span {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

/* ===== GO-NEXT ===== */
.go-next {
  display: block;
  position: absolute;
  right: 14px;
  bottom: 34px;
  z-index: 5;
  @include media-breakpoint-down(md) {
    right: 32px;
    bottom: 32px;
  }
  @include media-breakpoint-up(xl) {
    right: -32px;
  }

  svg {
    width: 57px;
    height: 57px;
    display: block;
    @include media-breakpoint-down(lg) {
      width: 40px;
      height: 40px;
    }
  }

  &.animation {
    opacity: 0;
    transform: translate3d(-16px, 0, 0);
    transition: opacity 2s $bezier, transform 2s $bezier;
    transition-delay: 2s;

    .loaded & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

/* ===== FORM ===== */
.form {
  &-code {
    margin-top: 38px;
    position: relative;
    display: flex;
    gap: 16px;
    justify-content: center;
    @include media-breakpoint-up(md) {
      gap: 32px;
    }
    @include media-breakpoint-up(lg) {
      gap: 42px;
    }
    @include media-breakpoint-up(xl) {
      left: -13px;
    }

    .form-control {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 0;
      text-align: center;
      @include media-breakpoint-up(md) {
        width: 60px;
        height: 60px;
        border-radius: 14px;
        font-size: 28px;
        line-height: 32px;
      }
    }

    &.animation {
      opacity: 0;
      transition: opacity 2s $bezier;
      transition-delay: 2s;

      .loaded & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &-entry {
    position: relative;
    @include media-breakpoint-up(xss) {
      margin-bottom: 16px;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 18px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 22px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 26px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-label {
    width: 100%;
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .39em;
    @include media-breakpoint-up(xss) {
      font-size: 16px;
    }
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 22px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 28px;
    }
  }

  &-control {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(#8fa0b8, .9);
    border-radius: 6px;
    display: block;
    font: 500 14px/18px $font-default;
    letter-spacing: .2em;
    color: white;
    background: none;
    box-shadow: none;
    outline: none;
    @include media-breakpoint-up(xss) {
      font-size: 16px;
      line-height: 20px;
    }
    @include media-breakpoint-up(md) {
      padding: 10px;
      font-size: 18px;
      line-height: 22px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 22px;
      line-height: 26px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &-error {
    margin-top: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: .4em;
    color: #c06461;
    @include media-breakpoint-up(md) {
      margin-top: 3px;
      font-size: 14px;
      line-height: 16px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 4px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.hidden {
  display: none;
}

/* ===== FULLPAGE ===== */
.fullpage {
  width: 100%;
  min-height: 100%;
  display: block;

  &-section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ===== LUSCULPTURE ===== */
.lusculpture {
  h1 {
    margin-bottom: .5em;
    @include media-breakpoint-up(md) {
      margin-bottom: .47222222em;
    }
  }
}

/* ===== PERFECT ===== */
.perfect {
  h2 {
    margin-bottom: .8667em;
    font-size: 20px;
    color: $color-arctic;
    position: relative;
    @include media-breakpoint-up(xss) {
      font-size: 22px;
    }
    @include media-breakpoint-up(md) {
      font-size: 26px;
    }
    @include media-breakpoint-up(lg) {
      left: .9333em;
      font-size: 28px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 30px;
      letter-spacing: .4475em;
    }
  }

  p {
    margin-bottom: 1.2273em;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .57em;
    color: $color-cool;
    @include media-breakpoint-up(xss) {
      font-size: 14px;
    }
    @include media-breakpoint-up(sm) {
      font-size: 15px;
    }
    @include media-breakpoint-up(md) {
      font-size: 17px;
      line-height: 2.7273em;
    }
    @include media-breakpoint-up(lg) {
      left: 1.7222em;
      font-size: 19px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 22px;
    }
  }

  small {
    display: block;
    font-size: 10px;
    letter-spacing: .435em;
    position: relative;
    @include media-breakpoint-up(xss) {
      font-size: 11px;
    }
    @include media-breakpoint-up(sm) {
      font-size: 12px;
    }
    @include media-breakpoint-up(md) {
      font-size: 13px;
    }
    @include media-breakpoint-up(lg) {
      left: 1.7222em;
      font-size: 16px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
}

/* ===== REQUEST ===== */
.request {
  h2 {
    letter-spacing: .485em;
    line-height: 2.3215em;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .btn {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-up(md) {
      white-space: nowrap;
    }
    @include media-breakpoint-up(xl) {
      bottom: 134px;
    }
  }
}

/* ===== OVERLAY ===== */
.overlay {
  width: 100%;
  height: 100%;
  padding: 20px 20px 76px;
  display: none;
  opacity: 0;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: $color-navy linear-gradient(108deg, $color-navy 4.37%, $color-indigo 85.48%);
  transition: opacity $effect-l;
  @include media-breakpoint-up(md) {
    padding-bottom: 84px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 96px;
  }

  &.is-open {
    display: flex;
  }

  &.is-animated {
    opacity: 1;

    .form-presentation {
      opacity: 1;
    }
  }

  .form-presentation {
    opacity: 0;
    transition: opacity $effect-l;
    transition-delay: .6s;
  }

  .footer {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.form-presentation {
  width: 100%;
  max-width: 380px;
  margin: auto;
  display: block;
  @include media-breakpoint-up(md) {
    max-width: 580px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 726px;
  }

  .btn {
    width: 100%;
    margin-top: 24px;
    display: block;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      margin-top: 32px;
      font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 24px;
    }
  }
}

/* ===== POPUP ===== */
.popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity $effect-l;

  &.is-open {
    display: flex;
  }

  &.is-animated {
    opacity: 1;
  }

  &-content {
    width: 940px;
    height: 550px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 940px / 2);
    top: calc(50% - 550px / 2);
    z-index: 1;
    font-size: 28px;
    line-height: 2.1429em;
    font-weight: 500;
    letter-spacing: .4em;
    text-align: center;
    background: #1d2a47;
    box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 60px rgba(255, 255, 255, 0.1);
    border-radius: 14px;

    svg {
      margin: 0 auto 30px;
      display: block;
    }

    h2 {
      margin: 0 0 .762em;
      font-size: 42px;
      line-height: 50px;
      font-weight: 500;
      position: relative;
      left: .5em;
    }

    p {
      margin: 0;
    }
  }
}

/* ===== FOOTER ===== */
.footer {
  padding: 14px 0;
  margin-top: auto;
  overflow: hidden;
  background: radial-gradient(12.59% 38.25% at 48.12% 25.68%, rgba(24, 144, 255, 0.04) 33.65%, rgba(24, 144, 255, 0.04) 79.81%), linear-gradient(90deg, rgba(12, 18, 40, 0.40) 8.64%, rgba(24, 32, 59, 0.40) 89.07%);
  box-shadow: 0 0 30px 0 rgba(black, .29), 0 0 20px 0 rgba(white, .09) inset;
  @include media-breakpoint-up(md) {
    padding: 24px 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 30px 0;
  }

  &.animation {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1.2s $bezier, transform 1.2s $bezier;
    transition-delay: 2s;

    .loaded & {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .copyright {
    margin: 0;
    color: $color-steel;
    text-align: center;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: .3em;
    @include media-breakpoint-up(lg) {
      font-size: 11px;
      letter-spacing: .4em;
    }
    @include media-breakpoint-up(xl) {
      font-size: 12px;
    }

    span {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    br {
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  .fullpage + & {
    margin-top: -56px;
  }
}

@keyframes floatMove {
  0% {
    transform: translate(-50%, -50%) translate(0px, 0px);
  }
  25% {
    transform: translate(-50%, -50%) translate(60px, -44px);
  }
  50% {
    transform: translate(-50%, -50%) translate(0px, 0px);
  }
  75% {
    transform: translate(-50%, -50%) translate(-60px, 44px);
  }
  100% {
    transform: translate(-50%, -50%) translate(0px, 0px);
  }
}